@charset "UTF-8";

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.fa {
  font-size: 22px;
}

.con-ver-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.col-center {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.avatar {
  border-radius: 12px;
}
